@font-face {
    font-family: 'Roboto-Medium';
    src: url(../fonts/Roboto-Medium.woff2);
    font-weight: 500;
}
@font-face {
    font-family: 'Roboto-Bold';
    src: url(../fonts/Roboto-Bold.woff2);
    font-weight: 700;
}
* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'Roboto-Medium';
    background-color: var(--bg-main);
}
a {
    text-decoration: none;
    color: unset;
}
h1,p,h2,h3 {
    margin: 0;
}
ul {
    list-style: none ;
    margin: 0;
    padding: 0;
}
.container {
    margin: 0 auto;
    max-width: 970px;
    padding: 0 10px;;
}
@media(max-width: 400px) {
    .container {
        padding: 0 30px;
    }
}